
        <script src="/res/inc/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $(".weui_btn_dialog.primary").click(function() {
                    $(".weui_dialog_alert").hide(0);
                });
                $(".weui_btn_dialog.primary").click(function() {
                    if (parent.info) { // menu直弹
                        parent.info.location.href = "List?<?=$this->functions_lib->transParameters('')?>";
                        parent.closeIframeImgDiv();
                    }
                    else { // list弹框
                        parent.href = "List?<?=$this->functions_lib->transParameters('')?>";
                        }
                });
            });
        </script>
    </head>
    <body>
        <?php if(isset($ShowMsg)){?>
        <?php if($ShowMsg['act']=="alert"){?>
        <div class="weui_dialog_alert" style='display:block;'>
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><strong class="weui_dialog_title"><?=$ShowMsg['title'] ?></strong></div>
                <div class="weui_dialog_bd"><?=$ShowMsg['content'] ?></div>
                <div class="weui_dialog_ft">
                    <a href="#" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
        <?php }elseif($ShowMsg['act']="confirm"){?>
        <div class="weui_dialog_confirm"style="display:block;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><strong class="weui_dialog_title"><?=$ShowMsg['title'] ?></strong></div>
                <div class="weui_dialog_bd"><?=$ShowMsg['content'] ?></div>
                <div class="weui_dialog_ft">
                    <a href="#" class="weui_btn_dialog default">取消</a>
                    <a href="#" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
        <?php } ?>
        <?php } ?>
